Sprzedane/SprzedaneWebMVC/Service References/SprzedaneReference/SprzedaneService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1622/SprzedaneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sprzedane" />
  <xs:element name="GetPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="GetPrzedmiotResult" nillable="true" type="q1:ArrayOfPrzedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrzedmioty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrzedmiotyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="GetAllPrzedmiotyResult" nillable="true" type="q2:ArrayOfPrzedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrzedmiotyBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="by" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrzedmiotyByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="GetPrzedmiotyByResult" nillable="true" type="q3:ArrayOfPrzedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q4:Przedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q5:Przedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrzedmiotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q6:Przedmioty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortfel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortfelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="GetPortfelResult" nillable="true" type="q7:Portfele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPortfele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPortfeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="GetAllPortfeleResult" nillable="true" type="q8:ArrayOfPortfele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPortfel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q9:Portfele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPortfelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortfel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q10:Portfele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortfelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sprzedane" minOccurs="0" name="p" nillable="true" type="q11:Portfele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSaldoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>