Sprzedane/SprzedaneWebMVC/Service References/SprzedaneReference/SprzedaneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SprzedaneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1622/SprzedaneService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1622/SprzedaneService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1622/SprzedaneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sprzedane" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISprzedaneService_GetPrzedmioty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrzedmioty" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_GetPrzedmioty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrzedmiotyResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_GetAllPrzedmioty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrzedmioty" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_GetAllPrzedmioty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrzedmiotyResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_AddPrzedmiot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrzedmiot" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_AddPrzedmiot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrzedmiotResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_DeletePrzedmiot_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrzedmiot" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_DeletePrzedmiot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrzedmiotResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_EditPrzedmiot_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPrzedmiot" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_EditPrzedmiot_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPrzedmiotResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_GetPortfel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfel" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_GetPortfel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfelResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_AddPortfel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPortfel" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_AddPortfel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPortfelResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_DeletePortfel_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePortfel" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_DeletePortfel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePortfelResponse" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_SetSaldo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSaldo" />
  </wsdl:message>
  <wsdl:message name="ISprzedaneService_SetSaldo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSaldoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISprzedaneService">
    <wsdl:operation name="GetPrzedmioty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/GetPrzedmioty" message="tns:ISprzedaneService_GetPrzedmioty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/GetPrzedmiotyResponse" message="tns:ISprzedaneService_GetPrzedmioty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrzedmioty">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/GetAllPrzedmioty" message="tns:ISprzedaneService_GetAllPrzedmioty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/GetAllPrzedmiotyResponse" message="tns:ISprzedaneService_GetAllPrzedmioty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrzedmiot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/AddPrzedmiot" message="tns:ISprzedaneService_AddPrzedmiot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/AddPrzedmiotResponse" message="tns:ISprzedaneService_AddPrzedmiot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrzedmiot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/DeletePrzedmiot" message="tns:ISprzedaneService_DeletePrzedmiot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/DeletePrzedmiotResponse" message="tns:ISprzedaneService_DeletePrzedmiot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPrzedmiot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/EditPrzedmiot" message="tns:ISprzedaneService_EditPrzedmiot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/EditPrzedmiotResponse" message="tns:ISprzedaneService_EditPrzedmiot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortfel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/GetPortfel" message="tns:ISprzedaneService_GetPortfel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/GetPortfelResponse" message="tns:ISprzedaneService_GetPortfel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPortfel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/AddPortfel" message="tns:ISprzedaneService_AddPortfel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/AddPortfelResponse" message="tns:ISprzedaneService_AddPortfel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePortfel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/DeletePortfel" message="tns:ISprzedaneService_DeletePortfel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/DeletePortfelResponse" message="tns:ISprzedaneService_DeletePortfel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSaldo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprzedaneService/SetSaldo" message="tns:ISprzedaneService_SetSaldo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprzedaneService/SetSaldoResponse" message="tns:ISprzedaneService_SetSaldo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SprzedaneService" />
</wsdl:definitions>