Sprzedane/SprzedaneWebMVC/Service References/SprzedaneReference/SprzedaneService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sprzedane" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sprzedane" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrzedmioty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Przedmioty" nillable="true" type="tns:Przedmioty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrzedmioty" nillable="true" type="tns:ArrayOfPrzedmioty" />
  <xs:complexType name="Przedmioty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:double" />
      <xs:element minOccurs="0" name="DataZakonczenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Kategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wygrywajacy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wystawiajacy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Przedmioty" nillable="true" type="tns:Przedmioty" />
  <xs:complexType name="Portfele">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="Saldo" type="xs:float" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Portfele" nillable="true" type="tns:Portfele" />
  <xs:complexType name="ArrayOfPortfele">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Portfele" nillable="true" type="tns:Portfele" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortfele" nillable="true" type="tns:ArrayOfPortfele" />
</xs:schema>